body {
    background-image: linear-gradient(rgba(57, 13, 10, 0.6), rgba(57, 13, 10, 0.6)), url(https://images.ctfassets.net/s5n2t79q9icq/1RJfBURhOuSJba5feByRzk/f8352755ec2b3a015dd82568d74dba4c/Hsnfvfty23lnf0-1920x1040.jpg);
}

* { /* par default pour tout éléments*/
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

header {
    /* ajout*/
    width: 100%;

    background-color: black;
    height: 55px;
    display: flex;
    padding-left: 5%;
    
}

header img {
    width: 130px;
}

header a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}

header a:hover {
    color: #ea3601 ;
}

header nav {
    display: flex;
    align-items: center;

    /* ajout*/
    /*list-style-type: none;*/
}

main {
    width: 75%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
}

.card-img{
    height: 320px;   
    border-radius: 10px; /* arrondir les coins*/
}

.card-p{
    color: antiquewhite;
    font-weight: 500;
}